In [17]:
import numpy as np
import pandas as pd
import datetime as dt

water = pd.read_csv("../raw_data/water_usage_edit.csv")
power = pd.read_csv("../raw_data/elec_usage_edit.csv")
weather = pd.read_csv("../raw_data/weather_data_edit.csv", encoding="latin1")

In [18]:
water['Date'] = pd.to_datetime(water['Date'])
water['Date'] = water['Date'].dt.strftime("%d/%m/%Y")
water

            Date  Usage(L)
0     21/10/2013        97
1     22/10/2013       228
2     23/10/2013       211
3     24/10/2013       219
4     25/10/2013       196
...          ...       ...
3275  24/09/2022        41
3276  25/09/2022         1
3277  26/09/2022         0
3278  27/09/2022        66
3279  28/09/2022        70

[3280 rows x 2 columns]

In [19]:
power['Date'] = pd.to_datetime(power['Date'])
power['Date'] = power['Date'].dt.strftime("%d/%m/%Y")
power

            Date  Usage(kWh)
0     21/10/2013         975
1     22/10/2013        1880
2     23/10/2013        1879
3     24/10/2013        1858
4     25/10/2013        1896
...          ...         ...
3275  24/09/2022        1062
3276  25/09/2022         766
3277  26/09/2022         769
3278  27/09/2022        1602
3279  28/09/2022        1655

[3280 rows x 2 columns]

In [20]:
weather['Date'] = pd.to_datetime(weather['Date'])
weather['Date'] = weather['Date'].dt.strftime("%d/%m/%Y")
weather

             Date  Rainfall (mm) Max Temp (°C) Min Temp (°C)
0      01/10/1984           12.5
1      02/10/1984            0.5
2      03/10/1984            0.0
3      04/10/1984            0.0
4      05/10/1984            0.0
...           ...            ...           ...           ...
13844  27/08/2022            0.0            21          10.2
13845  28/08/2022            0.0            22          11.6
13846  29/08/2022            0.0            24          12.7
13847  30/08/2022            0.0          21.3            12
13848  31/08/2022            0.0          20.5          11.2

[13849 rows x 4 columns]