In [1]:
import numpy as np
import pandas as pd
import datetime as dt

water = pd.read_csv("../raw_data/water_usage_edit.csv")
power = pd.read_csv("../raw_data/elec_usage_edit.csv")
weather = pd.read_csv("../raw_data/weather_data_edit.csv", encoding="latin1")

In [2]:
water['Date'] = pd.to_datetime(water['Date'])
water['Date'] = water['Date'].dt.strftime("%Y/%m/%d")
water

            Date  Usage(L)
0     2013/10/21        97
1     2013/10/22       228
2     2013/10/23       211
3     2013/10/24       219
4     2013/10/25       196
...          ...       ...
3275  2022/09/24        41
3276  2022/09/25         1
3277  2022/09/26         0
3278  2022/09/27        66
3279  2022/09/28        70

[3280 rows x 2 columns]

In [3]:
power['Date'] = pd.to_datetime(power['Date'])
power['Date'] = power['Date'].dt.strftime("%Y/%m/%d")
power

            Date  Usage(kWh)
0     2013/10/21         975
1     2013/10/22        1880
2     2013/10/23        1879
3     2013/10/24        1858
4     2013/10/25        1896
...          ...         ...
3275  2022/09/24        1062
3276  2022/09/25         766
3277  2022/09/26         769
3278  2022/09/27        1602
3279  2022/09/28        1655

[3280 rows x 2 columns]

In [4]:
weather['Date'] = pd.to_datetime(weather['Date'])
weather['Date'] = weather['Date'].dt.strftime("%Y/%m/%d")
weather

             Date  Rainfall (mm) Max Temp (°C) Min Temp (°C)
0      1984/10/01           12.5
1      1984/10/02            0.5
2      1984/10/03            0.0
3      1984/10/04            0.0
4      1984/10/05            0.0
...           ...            ...           ...           ...
13844  2022/08/27            0.0            21          10.2
13845  2022/08/28            0.0            22          11.6
13846  2022/08/29            0.0            24          12.7
13847  2022/08/30            0.0          21.3            12
13848  2022/08/31            0.0          20.5          11.2

[13849 rows x 4 columns]