In [1]:
import numpy as np
import pandas as pd

water = pd.read_csv("../raw_data/water-daily-28-09-2022.csv")
power = pd.read_csv("../raw_data/elec-daily-28-09-2022.csv")

In [2]:
water

,0000,0000000004,18/10/2013 13:10:22,0,Log status change - Log buffer purged,Status Flags - 0
0,1,5,18/10/2013 13:10:23,97,Status Flags - 0,NaN
1,2,6,19/10/2013 00:00:00,4294966703,Status Flags - 0,NaN
2,3,7,20/10/2013 00:00:00,151,Status Flags - 0,NaN
3,4,8,21/10/2013 00:00:00,97,Status Flags - 0,NaN
4,5,9,22/10/2013 00:00:00,228,Status Flags - 0,NaN
...,...,...,...,...,...,...
3278,3279,3283,24/09/2022 00:00:00,41,Status Flags - 0,NaN
3279,3280,3284,25/09/2022 00:00:00,1,Status Flags - 0,NaN
3280,3281,3285,26/09/2022 00:00:00,0,Status Flags - 0,NaN
3281,3282,3286,27/09/2022 00:00:00,66,Status Flags - 0,NaN
3282,3283,3287,28/09/2022 00:00:00,70,Status Flags - 0,NaN

In [3]:
power

,0000,0000000004,18/10/2013 13:10:26,0,Log status change - Log buffer purged,Status Flags - 0
0,1,5,18/10/2013 13:10:27,8020,Status Flags - 0,NaN
1,2,6,19/10/2013 00:00:00,7099,Status Flags - 0,NaN
2,3,7,20/10/2013 00:00:00,1198,Status Flags - 0,NaN
3,4,8,21/10/2013 00:00:00,975,Status Flags - 0,NaN
4,5,9,22/10/2013 00:00:00,1880,Status Flags - 0,NaN
...,...,...,...,...,...,...
3278,3279,3283,24/09/2022 00:00:00,1062,Status Flags - 0,NaN
3279,3280,3284,25/09/2022 00:00:00,766,Status Flags - 0,NaN
3280,3281,3285,26/09/2022 00:00:00,769,Status Flags - 0,NaN
3281,3282,3286,27/09/2022 00:00:00,1602,Status Flags - 0,NaN
3282,3283,3287,28/09/2022 00:00:00,1655,Status Flags - 0,NaN